.movieCard {
    background: #222222;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    width: calc(33.333% - 16px);
    height: 271px;
    margin: 0 0 30px 0;
}

.movieCard__container {
    position: relative;
    padding: 14px;
}

.movieCard__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin: 0 30px 1px 0;
}

.movieCard__time {
    font-size: 11px;
    line-height: 13px;
    color: #8B8B8B;
    margin: 0;
}

.movieCard__icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 19px;
    right: 14px;
    cursor: pointer;
    transition: all .2s ease;
    border: none;
    background-color: inherit;
}

.movieCard__icon:hover {
    transform: scale(1.1);
    transition: all .3s ease;
}

.movieCard__favorite {
    background-image: url('../../images/favoriteUnactive.svg');
}

.movieCard__favorite_active {
    background-image: url('../../images/favoriteActive.svg');
}

.movieCard__deleteIcon {
    background-image: url('../../images/favoriteDel.svg');
}

.movieCard__img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 203px;
}

@media screen and (max-width: 768px) {
    .movieCard {
        width: calc(50% - 15px);
        height: 258px;
        margin-bottom: 36px;
    }
    .movieCard__img {
        height: 190px;
    }
}

@media screen and (max-width: 641px) {
    .movieCard {
        width: 100%;
        height: 236px;
        margin-bottom: 16px;
    }
    .movieCard__img {
        height: 168px;
    }
}
