.movies {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 70px;
}

.movies__btn-container {
    display: flex;
    justify-content: center;
    margin: 50px 0 80px;
}

.movies__more-btn {
    width: 320px;
    height: 36px;
    background: #2F2F2F;
    border-radius: 6px;
    color: #fff;
    border: none;
    padding: 10px 60px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    transition: all .2s ease;
    cursor: pointer;
}

.movies__more-btn:hover {
    background: #3DDC84;
    color: #000;
    transition: all .3s ease;
}

._disabled {
    display: none;
}

@media screen and (max-width: 768px) {
    .movies {
        max-width: 708px;
        padding: 0 30px;
    }
}

@media screen and (max-width:  641px) {
    .movies {
        max-width: 300px;
        padding: 0 10px;
    }
    .movies__more-btn {
        width: 240px;
    }
}
