.portfolio {
    background: #202020;
}

.portfolio__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 70px 125px;
}

.portfolio__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #8b8b8b;
    margin: 0 0 50px;
}

.portfolio__projects-list {
    padding: 0;
    list-style-type: none;
}

.portfolio__project {
    font-weight: normal;
    font-size: 30px;
    letter-spacing: -0.04em;
    padding: 20px 0 19px;
    border-bottom: solid 1px #424242;
}

.portfolio__project:last-child {
    border: none;
}

.portfolio__project a {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
    transition: color .2s ease;
}

.portfolio__project a:hover {
    transition: color .3s ease;
    color: #4285F4;
}

.portfolio__project p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .portfolio__container {
        padding: 0 50px 90px;
    }

    .portfolio__project {
        font-size: 28px;
        line-height: 50px;
        padding: 20px 0 19px;
        border-color: #E6E6E6;
    }
}

@media screen and (max-width: 641px) {
    .portfolio__container {
        padding: 0 14px 70px;
    }

    .portfolio__title {
        margin-bottom: 40px;
    }

    .portfolio__project {
        padding: 19px 0;
        font-size: 18px;
        line-height: 28px;
    }
}
