.navTab {
    padding: 23px 70px 25px;
    background: #272727;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.navTab li {
    margin-right: 40px;
}

.navTab li:last-child {
    margin-right: 0;
}

.navTab__link {
    text-decoration: underline;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    transition: all .2s ease;
}

.navTab__link:hover {
    transition: all .3s ease;
    color: #4285F4;
}

@media screen and (max-width: 768px) {
    .navTab {
        padding: 24px 50px;
    }
}

@media screen and (max-width: 641px) {
    .navTab {
        padding: 25px 18px;
    }

    .navTab__link {
        font-size: 11px;
        line-height: 16px;
    }
}
