.footer {
    background: #202020;
}

.footer__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 79px 70px 20px;
}

.footer__description {
    font-size: 13px;
    line-height: 16px;
    color: #8b8b8b;
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
    border-bottom: solid 1px #424242;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-size: 13px;
    line-height: 16px;
}

.footer__copyright {
    margin: 0;
}

.footer__links {
    display: flex;
    margin: 0;
    list-style-type: none;
}

.footer__link {
    margin-right: 20px;
}
.footer__link:last-child {
    margin-right: 0;
}

.footer__link a {
    text-decoration: none;
    color: #fff;
    transition: color .2s ease;
}

.footer__link a:hover {
    color: #4285F4;
    transition: color .3s ease;
}

@media screen and (max-width: 768px) {
    .footer__container {
        padding: 79px 30px 20px;
    }
}

@media screen and (max-width: 641px) {
    .footer__container {
        padding: 79px 10px 10px;
    }

    .footer__description {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__info {
        flex-direction: column-reverse;
        font-size: 12px;
        line-height: 15px;
    }

    .footer__links {
        flex-direction: column;
        text-align: center;
        padding: 0 0 30px;
    }

    .footer__link {
        margin: 0 0 12px;
    }

    .footer__link:last-child {
        margin: 0;
    }

    .footer__copyright {
        color: #8B8B8B;
    }
}
