@import url(./fonts/Inter/inter.css);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  background: #202020;
  color: #fff;
  min-height: 100vh;
}

._logo {
  border-radius: 50%;
  width: 38px;
  height: 38px;
}

._logo img {
  max-width: 100%;
  height: auto;
  transition: transform 2s ease;
}

._logo img:hover {
  transform: rotate(180deg) scale(1.4);
  transition: transform 2s ease;
}

._form {
  margin: 0 auto;
  max-width: 396px;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

._form-title {
  margin: 40px 0 40px;
}


.form__container {

}

.form__form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form__label {
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  margin-bottom: 5px;
}

.form__label_name {

}

.form__label_email {

}

.form__label_password {

}

.form__field {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background: #212121;
  border-right: unset;
  border-bottom: solid 1px #424242;
  padding-bottom: 10px;
  margin-bottom: 24px;
}

.form__label_name {

}

.form__field_email {

}

.form__field_password {

}

._unactiveProfile {
  color: #424242 !important;
  cursor: unset !important;
}

._unactiveSubmitBtn {
  background-color: #424242 !important;
  color: #fff !important;
  cursor: unset !important;
}

._incorrect {
  color: #EE3465;
}

.form__error {
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  position: absolute;
  bottom: 6px;
}

.form__btn {
  margin: 100px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__submit-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  padding: 14px 0;
  background: #4285F4;
  border-radius: 3px;
  border: unset;
  transition: all .3s ease;
  cursor: pointer;
}

.form__submit-btn:hover {
  background: #3DDC84;
  color: #000;
  transition: all .4s ease;
}

.form__description {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 16px 0 0;
  color: #8B8B8B;
}

.form__link {
  margin-left: 6px;
  color: #4285F4;
  transition: color .2s ease;
}

.form__link:hover {
  color: #fff;
  transition: color .3s ease;
}

@media screen and (max-width: 768px) {
  ._form {
    padding: 232px 0;
  }

  ._form-title {
    font-size: 24px;
    line-height: 29px;
  }
}

@media screen and (max-width: 641px) {
  ._form {
    padding: 56px 0 30px;
    max-width: 260px;
  }

  ._form__header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ._form-title {
    margin: 50px 0 80px;
    font-size: 24px;
    line-height: 29px;
  }

  .form__btn {
    margin-top: 60px;
  }

  .form__submit-btn {
    font-size: 12px;
    line-height: 15px;
  }

  .form__description {
    font-size: 12px;
    line-height: 15px;
  }

  .form__link {
    margin-left: 7px;
  }

}

